
@{
    Layout = null;
    
}

<!DOCTYPE html>


<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>
        <div>
            <b>@ViewBag.Greeting Amigo </b> (From the View)
            <p> Vamos a  tener una fiestA INCREIBLE <br />
                (To do: Mejor redaccion, Agregar fotos o algo.) </p>
            @Html.ActionLink("RSVP Ahora", "RsvpForm");
        </div>
    </body>
</html>